<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861980299203-1at7b0f9omdgrijcq8d231euai1d0kj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861980299203-1at7b0f9omdgrijcq8d231euai1d0kj6</string>
	<key>API_KEY</key>
	<string>AIzaSyCPobsZIRNgihrvsmqMdYmV8buh4dAqGq8</string>
	<key>GCM_SENDER_ID</key>
	<string>861980299203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafalpieczyk.najlepszyKebab</string>
	<key>PROJECT_ID</key>
	<string>kebab-slask12</string>
	<key>STORAGE_BUCKET</key>
	<string>kebab-slask12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861980299203:ios:9dd3bac5b906fc354bb776</string>
</dict>
</plist>